In [39]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [40]:
path = 'Data/Medals.xlsx'
df = pd.read_excel(path, engine="openpyxl")
df.head(10)

   Rank                    Team/NOC  Gold  Silver  Bronze
0     1    United States of America    39      41      33
1     2  People's Republic of China    38      32      18
2     3                       Japan    27      14      17
3     4               Great Britain    22      21      22
4     5                         ROC    20      28      23
5     6                   Australia    17       7      22
6     7                 Netherlands    10      12      14
7     8                      France    10      12      11
8     9                     Germany    10      11      16
9    10                       Italy    10      10      20

In [41]:
total_medals = df['Gold'] + df['Silver'] + df['Bronze']
df['Total'] = total_medals

In [42]:
print('5 countries with the highest total medals')
df.nlargest(5,['Total'])

5 countries with the highest total medals

   Rank                    Team/NOC  Gold  Silver  Bronze  Total
0     1    United States of America    39      41      33    113
1     2  People's Republic of China    38      32      18     88
4     5                         ROC    20      28      23     71
3     4               Great Britain    22      21      22     65
2     3                       Japan    27      14      17     58