In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [14]:
Teams = pd.read_excel('Data/Teams.xlsx')
Teams.head()

      Name      Discipline                         NOC  Event
0  Belgium  3x3 Basketball                     Belgium    Men
1    China  3x3 Basketball  People's Republic of China    Men
2    China  3x3 Basketball  People's Republic of China  Women
3   France  3x3 Basketball                      France  Women
4    Italy  3x3 Basketball                       Italy  Women

In [15]:
Teams[(Teams['Discipline']=='Football') & (Teams['Event']=='Men')]

                  Name Discipline                NOC Event
404          Argentina   Football          Argentina   Men
405          Australia   Football          Australia   Men
407             Brazil   Football             Brazil   Men
412      Côte d’Ivoire   Football      Côte d'Ivoire   Men
413              Egypt   Football              Egypt   Men
414             France   Football             France   Men
415            Germany   Football            Germany   Men
417           Honduras   Football           Honduras   Men
418              Japan   Football              Japan   Men
420             Mexico   Football             Mexico   Men
422        New Zealand   Football        New Zealand   Men
424  Republic of Korea   Football  Republic of Korea   Men
425            Romania   Football            Romania   Men
426       Saudi Arabia   Football       Saudi Arabia   Men
427       South Africa   Football       South Africa   Men
428              Spain   Football              Spain   Men

In [16]:
Teams[(Teams['Discipline']=='Football') & (Teams['Event']=='Women')]

              Name Discipline                         NOC  Event
406      Australia   Football                   Australia  Women
408         Brazil   Football                      Brazil  Women
409         Canada   Football                      Canada  Women
410          Chile   Football                       Chile  Women
411          China   Football  People's Republic of China  Women
416  Great Britain   Football               Great Britain  Women
419          Japan   Football                       Japan  Women
421    Netherlands   Football                 Netherlands  Women
423    New Zealand   Football                 New Zealand  Women
429         Sweden   Football                      Sweden  Women
430  United States   Football    United States of America  Women
431         Zambia   Football                      Zambia  Women